  
  .hover-button {
    position: relative;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 20px;
   background: linear-gradient(135deg, #0072ff, #00c6ff);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  
  .hover-button:hover {
    background: linear-gradient(135deg, #221bf8, #a71bf8);
    transform: scale(1.1);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
  
  .hover-button .text {
    transition: opacity 0.3s ease;
  }
  
  .hover-button:hover .text {
    opacity: 0;
  }
  
  .hover-button .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .hover-button:hover .icon {
    opacity: 1;
  }
  
  .hover-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.4s ease, height 0.4s ease;
  }
  
  .hover-button:hover::after {
    width: 300%;
    height: 300%;
  }
  .text-content .hover-button {
    display: inline-flex;
    align-items: center;
    gap: 200px;
    padding: 15px 30px;
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: background-color 0.3s, transform 0.3s;
    -moz-transition: background-color 0.3s, transform 0.3s;
    -ms-transition: background-color 0.3s, transform 0.3s;
    -o-transition: background-color 0.3s, transform 0.3s;
}